.button {
	composes: btn m-1 from '../../../node_modules/bootstrap/dist/css/bootstrap.css';
}

.add {
	composes: button;
	composes: btn-success from '../../../node_modules/bootstrap/dist/css/bootstrap.css';
}

.remove {
	composes: button;
	composes: btn-danger from '../../../node_modules/bootstrap/dist/css/bootstrap.css';
}
