.container {
	display: flex;
	justify-content: center;
}

.group {
	composes: m-2 from "~bootstrap/dist/css/bootstrap.css";
}

.input {
	composes: form-control from "~bootstrap/dist/css/bootstrap.css";
}

.output {
	composes: input;
	composes: m-2 from "~bootstrap/dist/css/bootstrap.css";
	max-width: 400px;
}

.button {
	composes: btn btn-info m-2 from "~bootstrap/dist/css/bootstrap.css";
}

.tester {
	composes: container;
}
