.header {
	composes: container-fluid mb-1 p-1 from 'bootstrap/dist/css/bootstrap.css';
	background-color: green;
	color: white;
}

.main {
	composes: container-xxl mb-1  from 'bootstrap/dist/css/bootstrap.css';
}