.list {
	width: 400px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.button {
	composes: btn btn-info m-1 from "../../../../node_modules/bootstrap/dist/css/bootstrap.css";
}

.label {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
