.container {
	background-color: rgb(189, 189, 189);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
}

.actions {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.label {
	composes: m-1 from 'bootstrap/dist/css/bootstrap.css';
	font-weight: bold;
}

.button {
	composes: btn btn-primary m-1 from 'bootstrap/dist/css/bootstrap.css';

}

.buttonDanger {
	composes: btn btn-danger m-1 from 'bootstrap/dist/css/bootstrap.css';
}

.cell {
	padding: 0;
	border-top: 1px solid #111;
	border-left: 1px solid #111;
	border-right: 1px solid #111;

}

.editIcon {
	cursor: pointer;
}

.rowHeading {
	composes: container;
	justify-content: flex-start;
}