.navItem {
  composes: nav-item from "../../../../../node_modules/bootstrap/dist/css/bootstrap.css";
  display: flex;
  margin-right: 5px;
}

.navLink {
  composes: nav-link from "../../../../../node_modules/bootstrap/dist/css/bootstrap.css";
  border-bottom: 1px solid grey;
  color: #111;
}

.title {
  border-right: 0;
}

.active {
  border-bottom: 0;
  font-weight: bold;
  background-color: lightskyblue;
}

.active:hover {
  color: #111;
}

.close {
  border-left: 0;
}

.close:hover {
  color: red;
}

.titleButton {
  composes: navlink title;
}

.closeButton {
  composes: navlink close;
}

.homeButton {
  composes: navlink;
  background-color: lightgreen;
}
