.container {
	display: flex;
	justify-content: flex-end;
}

.group {
	composes: form-group from 'bootstrap/dist/css/bootstrap.css';
	display: flex;
	margin-right: 1em;
	
}
.button {
	composes: btn btn-primary from 'bootstrap/dist/css/bootstrap.css';
}