.container {
	display: flex;
	justify-content: center;
}

.group {
	composes: m-2 from "~bootstrap/dist/css/bootstrap.css";
}

.input {
	composes: form-control from "~bootstrap/dist/css/bootstrap.css";
}
